@import 'variables';

body{
    font-family: Raleway;
    #body{
        display: flex;
        width: auto;
    }
    aside{
        font-family: Raleway;
        /* Background Gradient for Analagous Colors */
        /* fallback for old browsers */
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-gradient(linear, left top, right top, from(#16bcbb), to(#1d2253));
        background: linear-gradient(to left, #16bcbb, #1d2253);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 20rem;
        height: 39rem;
        color: $white;
        font-weight: lighter;
        padding-top: 2rem;
        display: none;
        #cancel{
            font-size: 3rem;
            margin: 2%;
            margin-left: 17rem;
            z-index: 1;
        }
        p{
        margin-left: 3rem;
       
        a{
            text-decoration: none;
            color: $white;
        }
        }
        button{
            background: none;
            color: $white;
            border: none;
            margin: 8rem;
            margin-right: 1rem;
            float: right;
        }
        #pro{
             i{
            font-size:8rem;
        }
        }
    }
    nav{
        margin-left: 19rem;
       
       
    }
    main{
        margin-left: 5rem;
        #balances{
            display: block;
          }
         #acc{
           box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
           height: 150px;
           width: auto;
           text-align: center;
           margin-bottom: 2rem;
           margin-left: 1rem;
           p{
               padding-top: 2rem ;
               margin: 2rem;
           }
         }

        #upgrade{
            background: $nd-color;
            color: $white;
            #con{
                text-align: center;
                height: 3rem;
                padding-top: 0.4rem;
                p a{
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
    @media (min-width: 750px){
        //do not display navbar in bigger screens
        #cancel{
            display: none;
        }
        nav{
             display: none;
             
        }
        aside{
            display:block;
        }
       main{ 
           #balances{
            display: flex;
          }
        }
    }
}