@import 'variables';


body{
  font-family: Raleway;
    /* Background Gradient for Analagous Colors */
 /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, $nd-color, $awa-color);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, $nd-color,$awa-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 form{
     margin: 5%;
     text-align: center;
     button{
         border: none;
         border-radius: 2rem;
         color: rgb(75, 5, 75);
         background: $white;
         width: 13rem;
         height: auto;
         font-size: 120%;
         margin-top: 1rem;
     }
     a{
         text-decoration: none;
         color: $nd-color;
     }
     h3{
         color: $white;
     }
 }
 img{
     height: auto;
     width: 5rem;
     margin-bottom: 5%;
 }
 .field{
    background: $white;
    height: auto;
    width:70%;
    border-radius: 1rem;
    margin: 2%;
    margin-left: 19%;
    i{
        color: $textColor;
        margin-left: 3%;
        margin-right: 2%;
    }
    input{
        border-radius: 1rem;
        border: none;
        height: 25px;
        width: 85%;
        color: $textColor;
    }
   input:focus{
       outline: none;
   }
 }
 @media (min-width:750px){
    form{
        margin: 25%;
        margin-top: 5%;
        margin-bottom: 5%;
        #captcha{
            margin-left: 12rem;
        }
    }
    img{
        width: 8rem;
    }
    .field{
        margin-left: 11rem;
        width: 40%;
        input:focus{
            outline: none;
        }
    }
 }
}